@font-face {
    font-family: 'Russo One';
    src: url("../fonts/RussoOne-Regular.ttf");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@theme{
    --font-russo: 'Russo One', sans-serif;
    --font-monserrat: 'Montserrat', sans-serif;
}